.froggieContainer {
    text-align: center;
}

.froggieWrapper {
    padding: 25px;
}

.dateText {
    display: block;
    margin-left: 5px;
    position: absolute;
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.froggieCard {
    border-radius: 25px;
    border: 2px solid #959494;
    background-color: #FAF8F8;
    overflow: overlay;
    display: flex;
    position: relative;
}

.deleteBtn {
    position: absolute;
    top: 4px;
    right: 8px;
}

.heartBkg {
    background-image: url('../../../assets/backgrounds/heartBkg.jpg');
}

.froggieBkg {
    background-image: url('../../../assets/backgrounds/froggieBkg.jpg');
    background-size: cover;
}

.starsBkg {
    background-image: url('../../../assets/backgrounds/kirbyBkg.jpg');
    background-size: cover;
}

.heartStopperBkg {
    background-image: url('../../../assets/backgrounds/heartstopperBkg.jpg');
    background-size: cover;
}

.noBkg {
    background-color: #FAF8F8;
}