.activeTab {
  transform: scale(1.5);
}

.navBarIcons {
  height: 40px;
}

.navBarButton {
  background: none;
  border: none;
  margin: 10px;
  transition: all .2s ease-in-out; 
}

.navBarButton:hover {
  transform: scale(1.5);
}

.navContainer {
  justify-content: center !important;
}
