.uploadBtn {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 20px;
    margin-right: 20px;
}

.invisibleElement {
    visibility: hidden;
}

.uploadModalFooter {
    justify-content: space-between !important;
}

.confirmBtn, .closeBtn {
    margin: 5px;
}

.verticalImg {
    height: 18em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
}

.horizontalImg {
    display: block;
    max-width: 100%;
}

.nonDisplay {
    display: none;
}

.header-msg {
    text-wrap: balance;
    width: 60vw;
    margin: auto;
    text-align: center;
}