.uploadBtn {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 20px;
    margin-right: 20px;
}

.invisibleElement {
    visibility: hidden;
}

.uploadModalFooter {
    justify-content: space-between !important;
}

.confirmBtn, .closeBtn {
    margin: 5px;
}